<!doctype html>
<html>
	<head>
		<title>WebLock</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<style>
			body { 
				padding-top:80px; 
				word-wrap:break-word; 
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron text-center">
				<h1>WebLock administration</h1>
				<p>You must be logged in to access to the Weblock administration</p>
				<p><br /><br /></p>
				<p>if you are a hacker, it's better to use this</p>
				<p><img src="images/biche.png" /></p>
			</div>
			
		</div>
	</body>
</html>
